@model ToDoList.Domain.Entities.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post)) {
            <h3>Username</h3>  @Html.TextBoxFor(x => (@Model.Username), new { @required  = "required"})
            <h3>FirstName</h3> @Html.TextBoxFor(x => (@Model.FirstName), new { @required  = "required"})
            <h3>LastName</h3>  @Html.TextBoxFor(x => (@Model.LastName), new { @required  = "required"})
            <h3>Password</h3>  @Html.TextBoxFor(x => (@Model.Password), new { @required  = "required"})
            <input class="btn btn-primary" type="submit" name="Subbmit" value="Register"/>
        }        
    </div>
</body>
</html>
